html, body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: url("https://s3.amazonaws.com/codecademy-content/projects/pocketbook/bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: #fff;
}

.header {
  border-bottom: 1px solid white;
  width: 70%;
  text-align: center;
  margin-left: 200px;
  margin-top: 40px;
}

.header img {
  padding-bottom: 15px;
}

.main {
  margin: 60px 0;
}

.form-group {
  padding-bottom: 20px;
}

form input.form-control {
  border: 0px;
  border-radius: 0px;
}

.footer {
  border-top: 1px solid white;
  width: 70%;
  text-align: center;
  margin-left: 200px;
  margin-top: 40px;
}

.footer ul {
  list-style: none;
  margin-top: 20px;
  padding-bottom: 20px;
}

.footer li {
  display: inline;
  padding: 10px 20px;
  margin-top: 20px;
}

.container {
  max-width: 940px;
}